.chat-page {
  display: flex;
  height: 93vh;
  background-color: #fdfdfd;
}

@media (max-width: 768px) {
  .chat-page {
    flex-direction: column;
  }

  .chat-page > * {
    width: 100%;
    height: 100%;
  }
}
